megawalkman_JNR-01/ver_2020/megawalkman_JNR-01_v1.35/Scheme/megawalkman_JNR-01.pdf
dendy_junior_remastered/pcb/dendy_junior_II/dendy_junior_II_rev_2.4.2.dip
dendy_junior_remastered/pcb/dendy_junior_II/dendy_junior_II_rev_2.6.2_1206.dip
dendy_junior_remastered/pcb/dendy_junior_II/dendy_junior_II_rev_2.6.3_1206.dip
dendy_junior_remastered/pcb/dendy_junior_II/dendy_junior_II_rev_2.6.3_1206_simba.dip
dendy_junior_remastered/pcb/dendy_junior_II/dendy_junior_II_rev_2.7.0_74HCU04.dip
dendy_junior_remastered/pcb/dendy_junior_II/dendy_junior_II_rev_2.7.0_final.dip
dendy_junior_remastered/pcb/dendy_junior_II/dendy_junior_II_rev_2.7.0_final_tmp.dip
dendy_junior_remastered/pcb/dendy_junior_II/gerber/bottom_dendy_junior_II_rev_2.2.gbl
dendy_junior_remastered/pcb/dendy_junior_II/gerber/bottom_mask_dendy_junior_II_rev_2.2.gbs
dendy_junior_remastered/pcb/dendy_junior_II/gerber/bottom_silk_dendy_junior_II_rev_2.2.gbo
dendy_junior_remastered/pcb/dendy_junior_II/gerber/dendy_junior_II_rev_2.6.3_simba.zip
dendy_junior_remastered/pcb/dendy_junior_II/gerber/dendy_junior_II_rev_2.7.0_74HCU04.zip
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.2/bottom_dendy_junior_II_rev_2.2.gbl
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.2/bottom_mask_dendy_junior_II_rev_2.2.gbs
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.2/bottom_silk_dendy_junior_II_rev_2.2.gbo
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.2/through_dendy_junior_II_rev_2.2.txt
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.2/top_dendy_junior_II_rev_2.2.gtl
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.2/top_mask_dendy_junior_II_rev_2.2.gts
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.2/top_silk_dendy_junior_II_rev_2.2.gto
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.2/board_dendy_junior_II_rev_2.6.2_1206.gbr
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.2/bottom_dendy_junior_II_rev_2.6.2_1206.gbl
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.2/bottom_mask_dendy_junior_II_rev_2.6.2_1206.gbs
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.2/bottom_silk_dendy_junior_II_rev_2.6.2_1206.gbo
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.2/rev_2.6.2.zip
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.2/through_dendy_junior_II_rev_2.6.2_1206.txt
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.2/top_dendy_junior_II_rev_2.6.2_1206.gtl
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.2/top_mask_dendy_junior_II_rev_2.6.2_1206.gts
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.2/top_silk_dendy_junior_II_rev_2.6.2_1206.gto
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.3.zip
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.3/board_dendy_junior_II_rev_2.6.3_1206.gbr
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.3/bottom_dendy_junior_II_rev_2.6.3_1206.gbl
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.3/bottom_mask_dendy_junior_II_rev_2.6.3_1206.gbs
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.3/bottom_silk_dendy_junior_II_rev_2.6.3_1206.gbo
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.3/through_dendy_junior_II_rev_2.6.3_1206.txt
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.3/top_dendy_junior_II_rev_2.6.3_1206.gtl
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.3/top_mask_dendy_junior_II_rev_2.6.3_1206.gts
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.3/top_silk_dendy_junior_II_rev_2.6.3_1206.gto
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.3_simba/board_dendy_junior_II_rev_2.6.3_1206_simba.gbr
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.3_simba/bottom_dendy_junior_II_rev_2.6.3_1206_simba.gbl
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.3_simba/bottom_mask_dendy_junior_II_rev_2.6.3_1206_simba.gbs
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.3_simba/bottom_silk_dendy_junior_II_rev_2.6.3_1206_simba.gbo
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.3_simba/through_dendy_junior_II_rev_2.6.3_1206_simba.txt
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.3_simba/top_dendy_junior_II_rev_2.6.3_1206_simba.gtl
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.3_simba/top_mask_dendy_junior_II_rev_2.6.3_1206_simba.gts
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.6.3_simba/top_silk_dendy_junior_II_rev_2.6.3_1206_simba.gto
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.7.0_simba/board_dendy_junior_II_rev_2.7.0_74HCU04.gbr
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.7.0_simba/bottom_dendy_junior_II_rev_2.7.0_74HCU04.gbl
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.7.0_simba/bottom_mask_dendy_junior_II_rev_2.7.0_74HCU04.gbs
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.7.0_simba/bottom_silk_dendy_junior_II_rev_2.7.0_74HCU04.gbo
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.7.0_simba/through_dendy_junior_II_rev_2.7.0_74HCU04.txt
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.7.0_simba/top_dendy_junior_II_rev_2.7.0_74HCU04.gtl
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.7.0_simba/top_mask_dendy_junior_II_rev_2.7.0_74HCU04.gts
dendy_junior_remastered/pcb/dendy_junior_II/gerber/rev_2.7.0_simba/top_silk_dendy_junior_II_rev_2.7.0_74HCU04.gto
dendy_junior_remastered/pcb/dendy_junior_II/gerber/through_dendy_junior_II_rev_2.2.txt
dendy_junior_remastered/pcb/dendy_junior_II/gerber/top_dendy_junior_II_rev_2.2.gtl
dendy_junior_remastered/pcb/dendy_junior_II/gerber/top_mask_dendy_junior_II_rev_2.2.gts
dendy_junior_remastered/pcb/dendy_junior_II/gerber/top_silk_dendy_junior_II_rev_2.2.gto
dendy_junior_remastered/pcb/dendy_junior_II/pdf/dendy_junior_II_rev_2.6.2_1206.pdf
dendy_junior_remastered/pcb/dendy_junior_II/pdf/dendy_junior_II_rev_2.7.0_final_simba.pdf
dendy_junior_remastered/pcb/dendy_junior_MG-02(Wide)/dendy_junior_remastered_rev_2.4.2.dip
dendy_junior_remastered/pcb/dendy_junior_MG-02(Wide)/dendy_junior_remastered_rev_2.6.2_1206.dip
dendy_junior_remastered/pcb/dendy_junior_MG-02(Wide)/dendy_junior_remastered_rev_2.7.0_final.dip
dendy_junior_remastered/pcb/dendy_junior_MG-02(Wide)/dendy_junior_remastered_rev_2.7.0_final_dirty.dip
dendy_junior_remastered/pcb/dendy_junior_MG-02(Wide)/dendy_MG-02_wide_rev_2.7.0_final.dip
dendy_junior_remastered/pcb/dendy_junior_MG-02(Wide)/gerber/dendy_MG-02_wide_rev_2.7.0_final.zip
dendy_junior_remastered/pcb/dendy_junior_MG-02(Wide)/gerber/rev_2.7.0_final/board_dendy_MG-02_wide_rev_2.7.0_final.gbr
dendy_junior_remastered/pcb/dendy_junior_MG-02(Wide)/gerber/rev_2.7.0_final/bottom_dendy_MG-02_wide_rev_2.7.0_final.gbl
dendy_junior_remastered/pcb/dendy_junior_MG-02(Wide)/gerber/rev_2.7.0_final/bottom_mask_dendy_MG-02_wide_rev_2.7.0_final.gbs
dendy_junior_remastered/pcb/dendy_junior_MG-02(Wide)/gerber/rev_2.7.0_final/bottom_silk_dendy_MG-02_wide_rev_2.7.0_final.gbo
dendy_junior_remastered/pcb/dendy_junior_MG-02(Wide)/gerber/rev_2.7.0_final/through_dendy_MG-02_wide_rev_2.7.0_final.txt
dendy_junior_remastered/pcb/dendy_junior_MG-02(Wide)/gerber/rev_2.7.0_final/top_dendy_MG-02_wide_rev_2.7.0_final.gtl
dendy_junior_remastered/pcb/dendy_junior_MG-02(Wide)/gerber/rev_2.7.0_final/top_mask_dendy_MG-02_wide_rev_2.7.0_final.gts
dendy_junior_remastered/pcb/dendy_junior_MG-02(Wide)/gerber/rev_2.7.0_final/top_silk_dendy_MG-02_wide_rev_2.7.0_final.gto
dendy_junior_remastered/pcb/dendy_junior_MG-02/dendy_junior_MG-02_rev_2.4.2.dip
dendy_junior_remastered/pcb/dendy_junior_MG-02/dendy_junior_MG-02_rev_2.6.2_1206.dip
dendy_junior_remastered/pcb/dendy_junior_MG-02/dendy_junior_MG-02_rev_2.6.3_1206.dip
dendy_junior_remastered/pcb/dendy_junior_MG-02/dendy_junior_MG-02_rev_2.6.3_1206_AK.dip
dendy_junior_remastered/pcb/dendy_junior_MG-02/dendy_junior_MG-02_rev_2.6.3_1206_simba.dip
dendy_junior_remastered/pcb/dendy_junior_MG-02/dendy_junior_MG-02_rev_2.7.0_final.dip
dendy_junior_remastered/pcb/dendy_junior_MG-02/dendy_junior_MG-02_rev_2.7.0_final_2.dip
dendy_junior_remastered/pcb/dendy_junior_MG-02/dendy_junior_MG-02_rev_2.7.0_final_dirty.dip
dendy_junior_remastered/pcb/dendy_junior_MG-02/dendy_MG-02_rev_2.7.0_final.dip
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/2.6.3_ak/2.6.3_ak.zip
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/2.6.3_ak/board_dendy_junior_MG-02_rev_2.6.3_1206_AK.gbr
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/2.6.3_ak/bottom_dendy_junior_MG-02_rev_2.6.3_1206_AK.gbl
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/2.6.3_ak/bottom_mask_dendy_junior_MG-02_rev_2.6.3_1206_AK.gbs
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/2.6.3_ak/bottom_silk_dendy_junior_MG-02_rev_2.6.3_1206_AK.gbo
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/2.6.3_ak/through_dendy_junior_MG-02_rev_2.6.3_1206_AK.txt
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/2.6.3_ak/top_dendy_junior_MG-02_rev_2.6.3_1206_AK.gtl
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/2.6.3_ak/top_mask_dendy_junior_MG-02_rev_2.6.3_1206_AK.gts
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/2.6.3_ak/top_silk_dendy_junior_MG-02_rev_2.6.3_1206_AK.gto
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/bottom_dendy_junior_MG-02_rev_2.2.gbl
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/bottom_mask_dendy_junior_MG-02_rev_2.2.gbs
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/bottom_silk_dendy_junior_MG-02_rev_2.2.gbo
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/dendy_junior_MG-02_rev_2.6.3_simba.zip
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/dendy_MG-02_rev_2.7.0_final.zip
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.2/bottom_dendy_junior_MG-02_rev_2.2.gbl
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.2/bottom_mask_dendy_junior_MG-02_rev_2.2.gbs
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.2/bottom_silk_dendy_junior_MG-02_rev_2.2.gbo
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.2/through_dendy_junior_MG-02_rev_2.2.txt
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.2/top_dendy_junior_MG-02_rev_2.2.gtl
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.2/top_mask_dendy_junior_MG-02_rev_2.2.gts
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.2/top_silk_dendy_junior_MG-02_rev_2.2.gto
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.6.3.zip
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.6.3/board_dendy_junior_MG-02_rev_2.6.3_1206.gbr
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.6.3/bottom_dendy_junior_MG-02_rev_2.6.3_1206.gbl
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.6.3/bottom_mask_dendy_junior_MG-02_rev_2.6.3_1206.gbs
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.6.3/bottom_silk_dendy_junior_MG-02_rev_2.6.3_1206.gbo
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.6.3/through_dendy_junior_MG-02_rev_2.6.3_1206.txt
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.6.3/top_dendy_junior_MG-02_rev_2.6.3_1206.gtl
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.6.3/top_mask_dendy_junior_MG-02_rev_2.6.3_1206.gts
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.6.3/top_silk_dendy_junior_MG-02_rev_2.6.3_1206.gto
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.6.3_simba/board_dendy_junior_MG-02_rev_2.6.3_1206_simba.gbr
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.6.3_simba/bottom_dendy_junior_MG-02_rev_2.6.3_1206_simba.gbl
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.6.3_simba/bottom_mask_dendy_junior_MG-02_rev_2.6.3_1206_simba.gbs
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.6.3_simba/bottom_silk_dendy_junior_MG-02_rev_2.6.3_1206_simba.gbo
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.6.3_simba/through_dendy_junior_MG-02_rev_2.6.3_1206_simba.txt
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.6.3_simba/top_dendy_junior_MG-02_rev_2.6.3_1206_simba.gtl
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.6.3_simba/top_mask_dendy_junior_MG-02_rev_2.6.3_1206_simba.gts
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.6.3_simba/top_silk_dendy_junior_MG-02_rev_2.6.3_1206_simba.gto
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_2020/board_dendy_junior_MG-02_rev_2.7.0_final.gbr
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_2020/bottom_dendy_junior_MG-02_rev_2.7.0_final.gbl
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_2020/bottom_mask_dendy_junior_MG-02_rev_2.7.0_final.gbs
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_2020/bottom_paste_dendy_junior_MG-02_rev_2.7.0_final.gbr
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_2020/bottom_silk_dendy_junior_MG-02_rev_2.7.0_final.gbo
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_2020/dendy_MG-02_rev_2.7.0_2020.zip
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_2020/through_dendy_junior_MG-02_rev_2.7.0_final.txt
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_2020/top_dendy_junior_MG-02_rev_2.7.0_final.gtl
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_2020/top_mask_dendy_junior_MG-02_rev_2.7.0_final.gts
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_2020/top_paste_dendy_junior_MG-02_rev_2.7.0_final.gbr
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_2020/top_silk_dendy_junior_MG-02_rev_2.7.0_final.gto
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_final/board_dendy_MG-02_rev_2.7.0_final.gbr
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_final/bottom_dendy_MG-02_rev_2.7.0_final.gbl
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_final/bottom_mask_dendy_MG-02_rev_2.7.0_final.gbs
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_final/bottom_silk_dendy_MG-02_rev_2.7.0_final.gbo
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_final/through.txt
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_final/top_dendy_MG-02_rev_2.7.0_final.gtl
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_final/top_mask_dendy_MG-02_rev_2.7.0_final.gts
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/rev_2.7.0_final/top_silk_dendy_MG-02_rev_2.7.0_final.gto
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/through_dendy_junior_MG-02_rev_2.2.txt
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/top_dendy_junior_MG-02_rev_2.2.gtl
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/top_mask_dendy_junior_MG-02_rev_2.2.gts
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/top_silk_dendy_junior_MG-02_rev_2.2.gto
dendy_junior_remastered/schematic/component_list_rev2.4.2.csv
dendy_junior_remastered/schematic/component_list_rev2.6.2.csv
dendy_junior_remastered/schematic/component_list_rev2.6.2.xlsx
dendy_junior_remastered/schematic/component_list_rev2.6.2_new.xlsx
dendy_junior_remastered/schematic/component_list_rev2.7.0_final.csv
dendy_junior_remastered/schematic/component_list_rev2.7.0_final_complete.xlsx
dendy_junior_remastered/schematic/dendy_junior_remastered_rev_2.4.2.dch
dendy_junior_remastered/schematic/dendy_junior_remastered_rev_2.6.2_1206.dch
dendy_junior_remastered/schematic/dendy_junior_remastered_rev_2.7.0_74HCU04.dch
megawalkman_JNR-01/original_zip/megawalkman_JNR-01_v1.2.1.zip
megawalkman_JNR-01/original_zip/megawalkman_JNR-01_v1.2.zip
megawalkman_JNR-01/original_zip/megawalkman_JNR-01_v1.3.zip
megawalkman_JNR-01/ver_2020/megawalkman_JNR-01_v1.35.zip
megawalkman_JNR-01/ver_2020/megawalkman_JNR-01_v1.35/Gerbers/megawalkman_JNR-01_Copper_Signal_Bot.gbr
megawalkman_JNR-01/ver_2020/megawalkman_JNR-01_v1.35/Gerbers/megawalkman_JNR-01_Copper_Signal_Top.gbr
megawalkman_JNR-01/ver_2020/megawalkman_JNR-01_v1.35/Gerbers/megawalkman_JNR-01_Keep-out.gbr
megawalkman_JNR-01/ver_2020/megawalkman_JNR-01_v1.35/Gerbers/megawalkman_JNR-01_Legend_Bot.gbr
megawalkman_JNR-01/ver_2020/megawalkman_JNR-01_v1.35/Gerbers/megawalkman_JNR-01_Legend_Top.gbr
megawalkman_JNR-01/ver_2020/megawalkman_JNR-01_v1.35/Gerbers/megawalkman_JNR-01_NPTH_Drill.gbr
megawalkman_JNR-01/ver_2020/megawalkman_JNR-01_v1.35/Gerbers/megawalkman_JNR-01_PTH_Drill.gbr
megawalkman_JNR-01/ver_2020/megawalkman_JNR-01_v1.35/Gerbers/megawalkman_JNR-01_Soldermask_Bot.gbr
megawalkman_JNR-01/ver_2020/megawalkman_JNR-01_v1.35/Gerbers/megawalkman_JNR-01_Soldermask_Top.gbr
dendy_junior_remastered/pcb/dendy_junior_II/gerber/*
dendy_junior_remastered/pcb/dendy_junior_MG-02/gerber/*